<div class="row">
  <div class="col-md-6">
    <%= form_tag(admin_customers_path, method: "get", id: "search-form") do %>
    <div class="col-md-6"><%= text_field_tag :search, params[:search], placeholder: "Search Customer", class: "form-control text" %></div>
    <div class="col-md-3"><%= submit_tag "Search", :name => nil, class:"btn btn-success btn-form"%></div>
    <%end%>
    <span class="col-md-3"><%= link_to "View All", admin_customers_path, class: "btn btn-success btn-info" %></span>
  </div>
  <div class="col-md-6"></div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Customers
        <br>
      </div>
      <div class="panel-body">
        <div>
          <div style="overflow-x:auto;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Plate Number</th>
                  <th>Vehicle Description</th>
                </tr>
              </thead>
              <tbody>
                <%@customers.each_with_index do |customer, index|%>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= link_to customer.name, admin_customer_path(customer) %></td>
                  <td><%= customer.phone %></td>
                  <td><%= customer.plate_num %></td>
                  <td><%= customer.car_desc %></td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
