<div class="row">
  <div class="col-md-6">
    <%= form_tag(orders_admin_customer_path(@customer), method: "get", id: "search-form") do %>
    <div class="col-md-6"><%= text_field_tag :search, params[:search], placeholder: "Search Order", class: "form-control text" %></div>
    <div class="col-md-3"><%= submit_tag "Search", :name => nil, class:"btn btn-success btn-form"%></div>
    <%end%>
    <span class="col-md-3"><%= link_to "View All", orders_admin_customer_path(@customer), class: "btn btn-success btn-info" %></span>
  </div>
  <div class="col-md-6"></div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Orders
        <br>
      </div>
      <div class="panel-body">
        <div>
          <div style="overflow-x:auto;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Order ID</th>
                  <th>Restaurant</th>
                  <th>Total</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <%@orders.each_with_index do |order, index|%>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= order.order_id %></td>
                  <td><%= order.restaurant.name %></td>
                  <td><%= order.total %></td>
                  <td><%= order.status %></td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
