<div class="row">
  <div class="col-md-6">
    <%= form_tag(menu_admin_restaurant_path(@restaurant), method: "get", id: "search-form") do %>
    <div class="col-md-6"><%= text_field_tag :search, params[:search], placeholder: "Search Meal", class: "form-control text" %></div>
    <div class="col-md-3"><%= submit_tag "Search", :name => nil, class:"btn btn-success btn-form"%></div>
    <%end%>
    <span class="col-md-3"><%= link_to "View All", menu_admin_restaurant_path(@restaurant), class: "btn btn-success btn-info" %></span>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= render partial: "admin/meals/form" %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Foods
        <br>
      </div>
      <div class="panel-body">
        <div>
          <div style="overflow-x:auto;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <%@foods.each_with_index do |food, index|%>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= !food.code.blank? ? food.code : "N/A" %></td>
                  <td><%= link_to food.name, admin_meal_path(food) %></td>
                  <td><%= !food.desc.blank? ? food.desc : "N/A" %></td>
                  <td><%= food.price %></td>
                  <td>
                    <% if food.available? %>
                      Available
                    <% else %>
                      Unavailable
                    <% end %>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Drinks
        <br>
      </div>
      <div class="panel-body">
        <div>
          <div style="overflow-x:auto;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <%@drinks.each_with_index do |drink, index|%>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= !drink.code.blank? ? drink.code : "N/A" %></td>
                  <td><%= link_to drink.name, admin_meal_path(drink) %></td>
                  <td><%= !drink.desc.blank? ? drink.desc : "N/A" %></td>
                  <td><%= drink.price %></td>
                  <td>
                    <% if drink.available? %>
                      Available
                    <% else %>
                      Unavailable
                    <% end %>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
