<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= link_to "View Menu", menu_admin_restaurant_path(@restaurant), class: "btn btn-normal btn-success" %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Manage Restaurant
      </div>
      <div class="panel-body" style="padding-left:80px;padding-right:80px;">
        <%= form_for(@restaurant , url: admin_restaurant_path(@restaurant), method: :patch) do |f| %>
        <div class="row">
          <div class="col-md-12">
            <h4>Restaurant Details</h4>
            <div class="row">
              <div class="form-group pull-in clearfix">
                <div class="col-md-4">
                  <label>Name</label>
                  <%= f.text_field :name, class: 'form-control', placeholder:"Restaurant name", type:"text", required: true %>
                </div>
                <div class="col-md-4">
                  <label>Phone</label>
                  <%= f.text_field :phone, class: 'form-control', placeholder:"Restaurant phone", type:"text", required: true %>
                </div>
                <div class="col-md-4">
                  <label>Prepare Time</label>
                  <%= f.select :prepare_time, ['10 minutes','15 minutes','20 minutes'], required: true, class: "form-control" %>
                </div>
              </div>
              <div class="form-group pull-in clearfix">
                <div class="col-md-4">
                  <label>Status</label>
                  <%= f.select :status, ['Active','Inactive'], required: true, class: "form-control" %>
                </div>
              </div>
            </div>
            <hr>
            <h4>Pickup Location</h4>
            <div class="row">
              <div class="form-group pull-in clearfix">
                <div class="col-md-12">
                  <label>Address</label>
                  <%= f.text_field :address, class: 'form-control', placeholder:"Restaurant Address", type:"text", required: true %>
                </div>
              </div>
              <div class="form-group pull-in clearfix">
                <div class="col-md-4">
                  <label>Latitude</label>
                  <%= f.text_field :latitude, class: 'form-control', placeholder:"Latitude", type:"text", required: true %>
                </div>
                <div class="col-md-4">
                  <label>Longitude</label>
                  <%= f.text_field :longitude, class: 'form-control', placeholder:"Latitude", type:"text", required: true %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= f.submit "Update", class: "btn btn-normal btn-form"%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
