<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Meal
      </div>
      <div class="panel-body">
        <%= form_for @meal do |f| %>
        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :name, autofocus: true, placeholder: "Meal Name", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <label>Description</label>
          <%= f.text_area :desc, autofocus: true, placeholder: "Meal Description", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <label>Price</label>
          <%= f.text_field :price, autofocus: true, placeholder: "Meal Price", class: "form-control", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-normal btn-block" %>
        </div>
        <% end %>
        <br>
        <div class="actions">
          <%= link_to "Delete", meal_path(@meal), method: :delete, class: "btn btn-danger btn-block", data: { confirm: "Remove this meal?"} %>
        </div>
      </div>
    </div>
  </div>
</div>
