<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Add Meal
      </div>
      <div class="panel-body">
        <%= form_for @meal do |f| %>
        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :name, autofocus: true, placeholder: "Meal Name", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <label>Description</label>
          <%= f.text_area :desc, autofocus: true, placeholder: "Meal Description", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <label>Price</label>
          <%= f.text_field :price, autofocus: true, placeholder: "Meal Price", class: "form-control", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-normal btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
