<!DOCTYPE html>
<html>
  <head>
    <title>Drivebuy: Virtual Drive-thru</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>

  <body>
    <% if current_user && current_user.admin? %>
      <%= render 'shared/admin_navbar' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/message' %>

    <% if current_page?(root_path) %>
      <div>
        <%= yield %>
      </div>
    <% else %>
      <div class="container banner">
        <%= yield %>
      </div>
    <% end %>

    <!-- enable_footer function in application controller and only applied to pages_controller -->
    <%= render 'shared/footer' if @enable_footer %>
  </body>
</html>
